body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 30px;
}

.box-container {
    width: 70%;
    margin: 0 auto;
}

.CONCRETE {
    background-image: url(glo-architectural-texture-concrete-wall-02_1-1.jpg);
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.STEEL {
    background-image: url(images\ \(3\).jpg);
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.ALUMINIUM {
    background-image: url(aluminium-alloys.webp);
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.RECYCLED-PLASTIC {
    background-image: url(istockphoto-641350692-640x640.jpg); 
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.WOOD {
    background-image: url(madera-construcción-1-1024x683.jpg);
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.BAMBOO {
    background-image: url(natural-bamboo-poles-main__57458.jpg);
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}